* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --bg-url: url(./img/Desktop04.png);
    --stroke-color: rgba(255,255,255,0.5);
    --surface-color: rgba(255,255,255,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(255,255,255,0.2);
    --switch-bg-url: url(./img/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./img/Desktop04-light.png);
    --stroke-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0,0,0,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url: url(./img/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100dvh;
    display: grid;
    place-items: center;
    padding-bottom: 1rem;
}

body * {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    margin: 56px auto 0px;
    padding: 0 24px;
    margin-top: 20px;
}

#titulo{
    text-align: center;
    margin-top: 40px;
}

#titulo h3{
    font-weight: 250;
    line-height: 24px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    padding: 0%;
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 1px solid var(--stroke-color);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}

.light #switch button{
    animation: slide-in 0.2s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

form {
    width: 100%;
    max-width: 25rem;
    margin-bottom: 40px;
}

label{
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0.3rem;
}

label, input, textarea, button{
    display: block;
    text-align: center;
    text-decoration: none;
}

input, textarea, button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 400;
}

input, textarea{
    margin-bottom: 1rem;
    color: var(--text-color);
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 30px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--surface-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    outline: none;
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

textarea{
    text-align: left;
    min-height: 12rem;
    resize: none;
}

button{
    border: 1.5px solid var(--text-color);
    border-radius: 25px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
}

button:hover, button:focus{
    outline: none;
    background: rgba(0,0,0,0.5);
    border: 1.5px solid var(--text-color);
}

button:disabled{
    cursor: not-allowed;
    background: dimgray;
}

@media (min-width: 1720px){
    body{
        padding-top: 80px;
    }
    #profile img{
        width: 156px;
    }
    #profile p{
        font-size: 22px;
        padding-top: 8px;
    }
    #profile h6{
        font-size: 14px;
        padding-top: 4px;
    }
    #switch{
        position: relative;
        width: 64px;
        margin: 6px auto;
    }
    #switch button{
        width: 32px;
        height: 32px;
        background-size: 20px;
    }
    #switch span{
        display: block;
        width: 64px;
        height: 24px;
    }
    ul li a {
        display: flex;
        width: 500px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
    }
    #social-links{
        font-size: 34px;
    }
    footer{
        font-size: 14px;
    }
}

@media (min-width: 1024px) and (max-width: 1440){
    #profile img{
        width: 124px;
    }
    #profile p{
        font-size: 18px;
        padding-top: 6px;
    }
    #profile h6{
        font-size: 12px;
        padding-top: 2px;
    }
    #switch{
        position: relative;
        width: 76px;
        margin: 6px auto;
    }
    #switch button{
        width: 34px;
        height: 34px;
        background-size: 18px;
    }
    #switch span{
        display: block;
        width: 70px;
        height: 24px;
    }
    ul li a {
        display: flex;
        width: 450px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
    }
    #social-links{
        font-size: 26px;
    }
    footer{
        font-size: 12px;
    }
}
@media (min-width: 1024px) and (orientation: portrait){
    body{
        padding-top: 120px;
    }
    #profile img{
        width: 168px;
    }
    #profile p{
        font-size: 24px;
        padding-top: 6px;
    }
    #profile h6{
        font-size: 16px;
        padding-top: 4px;
    }
    #switch{
        position: relative;
        width: 96px;
        margin: 10px auto;
    }
    #switch button{
        width: 48px;
        height: 48px;
        background-size: 24px;
    }
    #switch span{
        display: block;
        width: 96px;
        height: 32px;
    }
    ul li a {
        display: flex;
        width: 550px;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
    }
    #social-links{
        font-size: 36px;
    }
    footer{
        font-size: 16px;
        padding-top: 150px;
    }
}

@keyframes slide-in{
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back{
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}